.fa {
  font-size:100px;
  opacity: 0.3;
}

.playerTurn, .computerTurn, .playerVictory, .computerVictory, .playerTie {
  opacity: 0.3;
}
.screen {
  border:4px black solid;
  background-color: gray;
}

body{
  text-align: center;
}
